.auth{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#authForm {
    background-color: #f2ebeb;
    width: 35%;
    padding: 3% 0;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

h5, p {
    color: #2ec4b6;
}