.homePageProducts{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
select{
    width: 130% !important;
    background-color: #f2ebeb !important;
    cursor: pointer;
}
option {
    cursor: pointer;
}
.productsTableData{
    width: 130%;
    text-align: center;
}

td, th{
    background-color: #f2ebeb !important;
}

td:hover{
    cursor: pointer;
}
